.Browser {
    text-align: center;
    background-color: goldenrod;
  }

.Browse-header {

    height: 120px;
    padding: 20px;
    color: goldenrod;
}

.Title {
  font-size: larger;
  color: black;
}
